
<html>

<head><title>Effigloss - <%=item["frWord"]%>.n</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta content="Effigloss lexical unit entry" name="description" />
<meta content="Florence Boscher" name="author" />
<link href="../../RESOURCES/LU_Styles.css" type="text/css" rel="stylesheet" /></head>

<body><div class="head"><img src="/img/LOGO.jpg" alt="Effigloss" class="logo" />
<div class="main_menu"></div>

<div class="second_level_menu"><h1 class="menu_name">Glossaire</h1><a href="../../LU_ABC_List.html" class="second_level_menu_item">Unités lexicales</a>
<div class="content"><table><tr><td><span class="LEMMA"><%=item["frWord"]%>.n / <%=item["enWord"]%> .n</span><span class="POS"> </span><img class="flag" src="../../ICONS/fr.gif" /></td>

</tr></table><h2 class="section">Exemples</h2>
<div class="examples">
<ol>
<li class="EXAMPLE"><span class="EXAMPLE_TEXT"><%=item["frExample"]%></span><span class="LU_REF">acompte.</span>
<span clTEXT"> </span>
</ol>


<div>

</tr></table><h2 class="section">Pour aller plus loin ...explication de la notion en anglais</h2>

</div>
</body>
</html>
 